Repository btr-supply/risk: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxlint, next-lint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for BTR Risk
# See https://pre-commit.com for more information
repos:
  # Standard pre-commit hooks for general file maintenance
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Local hooks for project-specific tools using Bun
  - repo: local
    hooks:
      # Oxlint - Fast JavaScript linter
      - id: oxlint
        name: Oxlint
        entry: bun run lint:fix
        language: system
        files: \.(js|jsx)$
        pass_filenames: false
        always_run: false

      # Next.js ESLint
      - id: next-lint
        name: Next.js ESLint
        entry: bash -c 'bunx next lint --fix'
        language: system
        files: \.(js|jsx)$
        pass_filenames: false
        always_run: false

      # Prettier formatting
      - id: prettier
        name: Prettier
        entry: bun run format
        language: system
        files: \.(js|jsx|json|yaml|yml|md)$
        pass_filenames: false
        always_run: false

      # Build verification - ensure project builds successfully
      - id: build-check
        name: Build Check
        entry: bun run build
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

# Global configuration
fail_fast: false
default_stages: [pre-commit]

[ops] wrangler.toml fix
  wrangler.toml
Due: none

[ops] Replace MUI charts with Chart.js and add bundle analysis tools
  bun.lock
  package.json
Due: prettier

[ops] Optimize webpack configuration for Chart.js and bundle analysis
  next.config.mjs
Due: none

[ops] Add bundle size analysis and sourcemap verification scripts
  scripts/bundle-size.js
  scripts/verify-sourcemaps.js
Due: oxlint, next-lint, prettier

[docs] Update project rules for Chart.js migration and hot reload guidelines
  .cursorrules
Due: none

[feat] Add STIX math fonts and Next.js 404 error page
  app/not-found.js
  public/fonts/STIXTwoMath-Regular.woff2
Due: oxlint, next-lint, prettier

[feat] Add useDebounce hook and component utility functions
  src/hooks/useDebounce.js
  src/utils/componentUtils.js
Due: oxlint, next-lint, prettier

[refac] Remove legacy theme files for consolidation
  src/theme.js
  src/theme/index.js
Due: oxlint, next-lint, prettier

[ops] Update Cloudflare Pages headers for math font and asset optimization
  public/_headers
Due: none

[refac] Optimize state management hooks with memoization and debouncing
  src/hooks/useOptimizedState.js
  src/hooks/usePerformanceOptimization.js
Due: oxlint, next-lint, prettier

[refac] Update utility functions and constants for Chart.js integration
  src/constants/index.js
  src/models.js
  src/utils/format.js
  src/utils/loading.js
Due: oxlint, next-lint, prettier

[refac] Migrate chart components from MUI to Chart.js with optimizations
  src/components/optimized/OptimizedComponents.jsx
  src/components/ui/ChartComponents.jsx
  src/components/ui/index.js
Due: oxlint, next-lint, prettier

[refac] Update core App and navigation components for Chart.js integration
  src/App.jsx
  src/components/Loader.jsx
  src/components/Navigation.jsx
  src/components/index.jsx
Due: oxlint, next-lint, prettier

[refac] Update page components with Chart.js charts and performance optimizations
  src/components/pages/AllocationModel.jsx
  src/components/pages/HomePage.jsx
  src/components/pages/LiquidityModel.jsx
  src/components/pages/SlippageModel.jsx
Due: oxlint, next-lint, prettier

[refac] Update Next.js app router pages for optimized loading and imports
  app/allocation/page.jsx
  app/layout.jsx
  app/liquidity/page.jsx
  app/page.jsx
  app/slippage/page.jsx
Due: oxlint, next-lint, prettier

[feat] Create centralized navigation hook with loading state
  src/hooks/useRouterLoading.js
Due: oxlint, next-lint, prettier

[fix] Improve loader animation coverage for italic text
  src/components/Loader.jsx
Due: oxlint, next-lint, prettier

[refac] Unify Navigation component to use centralized loading hook
  src/components/Navigation.jsx
Due: oxlint, next-lint, prettier

[refac] Update App component to use centralized navigation hook
  src/App.jsx
Due: oxlint, next-lint, prettier

[refac] Update HomePage model cards to use centralized navigation
  src/components/pages/HomePage.jsx
Due: oxlint, next-lint, prettier

[refac] Update SmartLink component to use centralized navigation
  src/components/index.jsx
Due: oxlint, next-lint, prettier

[feat] Add loading state to 404 page Return Home button
  app/not-found.js
Due: oxlint, next-lint, prettier

[refac] Simplify app pages to use centralized loading system
  app/allocation/page.jsx
  app/liquidity/page.jsx
  app/page.jsx
  app/slippage/page.jsx
Due: oxlint, next-lint, prettier

[ops] Remove deprecated loading utilities and clean up formatting
  src/store.js
  src/utils/loading.js
Due: oxlint, next-lint, prettier

[ops] Add editor configuration and loading store organization
  .editorconfig
  src/store/useLoadingStore.js
Due: oxlint, next-lint, prettier

[fix] Remove useSearchParams to fix build and simplify pre-commit config
  .pre-commit-config.yaml
  src/hooks/useRouterLoading.js
Due: oxlint, next-lint, prettier

feat: integrate asset optimization pre-commit hook - Added opt-pre-commit hook for automatic image optimization
  .pre-commit-config.yaml
Due: prettier

[ops] Add naming conventions pre-commit hook and update dependencies
  .pre-commit-config.yaml
Due: prettier

[ops] Update naming conventions hook to use commit-msg stage
  .pre-commit-config.yaml
Due: prettier

[feat] Add test file for hook validation
  test-hook.md
Due: prettier

[refac] Pre-commit task names
  .pre-commit-config.yaml
Due: prettier

[ops] Update dependencies and build configuration
  bun.lock
  next.config.mjs
  package.json
Due: prettier

[docs] Update project rules and contributing guidelines
  .cursorrules
  CONTRIBUTING.md
Due: prettier

[feat] Add new reusable component library with updated constants and utilities
  .pre-commit-config.yaml
  src/components/BaseCard.jsx
  src/components/BpDisplay.jsx
  src/components/ChartComponents.jsx
  src/components/FormulaLegend.jsx
  src/components/MathFormula.jsx
  src/components/MetricChip.jsx
  src/components/ParameterSlider.jsx
  src/components/ParameterTextField.jsx
  src/components/Section.jsx
  src/components/SectionCard.jsx
  src/components/SimulationResult.jsx
  src/components/SmartLink.jsx
  src/components/Typography.jsx
  src/components/index.jsx
  src/components/optimized/OptimizedComponents.jsx
  src/components/pages/LazyPages.jsx
  src/components/ui/BaseCard.jsx
  src/components/ui/Typography.jsx
  src/components/ui/index.js
  src/constants/index.js
  src/hooks/useDebounce.js
  src/hooks/useOptimizedState.js
  src/models.js
  src/utils/format.js
Due: oxlint, next-lint, prettier

[refac] Update main App component and navigation
  src/App.jsx
  src/components/Loader.jsx
  src/components/Navigation.jsx
Due: oxlint, next-lint, prettier

[feat] Update financial model pages with new component library
  src/components/pages/AllocationModel.jsx
  src/components/pages/LiquidityModel.jsx
  src/components/pages/SlippageModel.jsx
Due: oxlint, next-lint, prettier

[ops] Remove trailing slash from URLs in Next.js config
  next.config.mjs
Due: none

[refac] Darken navigation inactive tabs for better contrast
  src/constants/index.js
Due: oxlint, next-lint, prettier
